In [ ]:
import pandas as pd

In [ ]:
data = pd.read_csv("misspelled-words.txt"
                       ,header = None)
data.columns = ['mispelled']
  
# store dataframe into csv file
data.to_csv('new_data.csv', 
                index = None)

In [ ]:
df = pd.read_csv('new_data.csv')
df.head()

     mispelled
0      absance
1      absense
2   acceptible
3  accidentaly
4   accidently

In [ ]:
df = df.iloc[:50]

In [ ]:
from textblob import TextBlob

In [ ]:
!pip install pyspellchecker

In [ ]:
from spellchecker import SpellChecker
spell = SpellChecker()

In [ ]:
df['corrected_spellChecker']=df.mispelled.apply(lambda txt: ''.join(spell.correction(txt)))

In [ ]:
df

       mispelled corrected_textblob corrected_spellChecker
0        absance            absence                absence
1        absense            absence                absense
2     acceptible         acceptable             acceptable
3    accidentaly       accidentally            accidentaly
4     accidently         accidently             accidently
5     accomodate        accommodate             accomodate
6      accordian          according              accordion
7        acerage            average                average
8        acheive            achieve                acheive
9     acknowlege        acknowledge            acknowledge
10    acommodate        accommodate            accommodate
11  acquaintence       acquaintance           acquaintance
12        acrage            acreage                acreage
13       adquire            acquire                acquire
14     adrenalin          adrenalin              adrenalin
15        adress              dress                 adress
16      adultary           adultary               adultery
17    adviseable          advisable              advisable
18     advizable          advisable              advisable
19     aggresion         aggression             aggression
20     agression         aggression              agression
21    aknowledge          knowledge              knowledge
22      alchohol            alcohol               alchohol
23         alege             allege                 allege
24     alegiance         allegiance             allegiance
25     algorythm          algorythm              algorithm
26        allage             allege                 allege
27    allegaince         allegiance             allegiance
28    allegience         allegiance             allegiance
29       allmost             almost                allmost
30          alot               clot                   alot
31       amatuer            amateur                amateur
32       amature             mature                 mature
33        ammend              amend                  amend
34       annualy             annual                 annual
35       anually           annually                anually
36       aparent           apparent                aparent
37      apparant           apparent               apparent
38   aquaintance       acquaintance            aquaintance
39        aquire            acquire                 aquire
40         aquit               quit                   quit
41     arguement           argument              arguement
42         artic              attic                  artic
43       athiest            atheist                atheist
44       averege            average                average
45        avrage            average                average
46        aweful              awful                 aweful
47        awfull              awful                 awfull
48          axel               axes                   axel
49       balence            balance                balance